.nav-list {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.flex-item {
    display: inline-block;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.index_h1_header{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #000080;
}

body{
    background-color: rgb(245, 245, 220);
}

.Main-Section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 350px;
}

.footer-flex-container {
    background-color: yellow;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.footer-flex-item {
    padding: 15px;
}