/* --------------------------------------Header---------------------------------------- */
header {
    background-color: yellow;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list li {
    padding: 5px;
}

h1 {
    text-align: center;
    color: #000080;
}

/* --------Index.html--------- */
.index_h1_header {
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------------------Body---------------------------------------- */
body{
    background-color: rgb(245, 245, 220);
}

/* --------------------------------------Main Section---------------------------------------- */
/* --------Index.html--------- */
.index-main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 350px;
}

/* --------Course.html--------- */
main[class="course-main-section"] > section {
    border-bottom: 3px lightgray solid;
    margin: 10px 0px;
}

main > section:last-child {
    border-bottom: none;
}

/* --------------------------------------Footer---------------------------------------- */
footer {
    background-color: yellow;
}

.footer-flex-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-flex-container li {
    padding: 0px 15px;
}

/* --------------------------------------Responsive Design---------------------------------------- */

@media screen and (min-width:600px) {
    .nav-list {
        justify-content: center;
        flex-direction: row;
    }
    .nav-list li {
        padding: 10px;
    }
    .course-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100px;
        gap: 10px;
    }
    .course-year {
        order: 3;
    }
    main[class="course-main-section"] > section {
        border-bottom: 3px gray solid;
    }
    main > section:last-child {
        border-bottom: none;
    }
}