/* --------------------------------------Header---------------------------------------- */
header {
    background-color: yellow;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    padding: 10px;
}

.index_h1_header {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: #000080;
}

/* --------------------------------------Body---------------------------------------- */
body{
    background-color: rgb(245, 245, 220);
}

/* --------------------------------------Main Section---------------------------------------- */
.Main-Section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 350px;
}

/* --------------------------------------Footer---------------------------------------- */
footer {
    background-color: yellow;
}

.footer-flex-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-flex-container li {
    padding: 0px 15px;
}